:root {
	/* Utopia */
	--step--2: clamp(0.56rem, calc(0.61rem + -0.04vw), 0.60rem);
	--step--1: clamp(0.75rem, calc(0.75rem + 0.00vw), 0.75rem);
	--step-0: clamp(0.94rem, calc(0.93rem + 0.06vw), 1.00rem);
	--step-1: clamp(1.17rem, calc(1.14rem + 0.16vw), 1.33rem);
	--step-2: clamp(1.47rem, calc(1.40rem + 0.31vw), 1.78rem);
	--step-3: clamp(1.83rem, calc(1.72rem + 0.54vw), 2.37rem);
	--step-4: clamp(2.29rem, calc(2.12rem + 0.87vw), 3.16rem);
	--step-5: clamp(2.86rem, calc(2.59rem + 1.35vw), 4.21rem);

	--space-3xs: clamp(0.25rem, calc(0.25rem + 0.00vw), 0.25rem);
	--space-2xs: clamp(0.50rem, calc(0.50rem + 0.00vw), 0.50rem);
	--space-xs: clamp(0.69rem, calc(0.68rem + 0.06vw), 0.75rem);
	--space-s: clamp(0.94rem, calc(0.93rem + 0.06vw), 1.00rem);
	--space-m: clamp(1.44rem, calc(1.43rem + 0.06vw), 1.50rem);
	--space-l: clamp(1.88rem, calc(1.85rem + 0.13vw), 2.00rem);
	--space-xl: clamp(2.81rem, calc(2.78rem + 0.19vw), 3.00rem);
	--space-2xl: clamp(3.75rem, calc(3.70rem + 0.25vw), 4.00rem);
	--space-3xl: clamp(5.63rem, calc(5.55rem + 0.38vw), 6.00rem);

	/* Custom */
	--sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif; 
	--monospace: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
	--max-width: 1080px;
	--half-width: calc(var(--max-width) / 2);

	--primary--1: hsl(210, 90%, 40%);
	--primary-0: hsl(210, 90%, 50%);
	--primary-1: hsl(210, 40%, 50%);

	--secondary-0: hsl(210, 20%, 20%);
	--secondary-1: hsl(210, 20%, 40%);

	--error-bg--1: hsl(350, 30%, 95%);
	--error-bg-0: hsl(350, 30%, 89%);
	--error-bg-1: hsl(350, 30%, 83%);

	--error-fg-0: hsl(0, 80%, 45%);
	--error-fg-1: hsl(350, 30%, 55%);

	--success-bg--1: hsl(120, 30%, 95%);
	--success-bg-0: hsl(120, 30%, 89%);
	--success-bg-1: hsl(120, 30%, 83%);

	--success-fg-0: hsl(110, 100%, 35%);
	--success-fg-1: hsl(120, 50%, 45%);

	--foreground-0: hsl(210, 20%, 12%);
	--foreground-1: hsl(210, 20%, 18%);
	--foreground-2: hsl(210, 20%, 24%);
	--foreground-3: hsl(210, 20%, 30%);
	--foreground-4: hsl(210, 20%, 42%);

	--background-0: hsl(210, 90%, 99%);
	--background-1: hsl(210, 20%, 93%);
	--background-2: hsl(210, 20%, 87%);
	--background-3: hsl(210, 20%, 81%);
	--background-4: hsl(210, 20%, 75%);
}

/* Utilities */
.flex {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-m);
	align-items: center;
}

.flex.input {
	align-items: center;
	gap: var(--space-xs);
}

.flex.column {
	gap: var(--space-s);
}

.grid {
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--space-m);
}

.grid.buttons {
	margin-top: var(--space-xs);
	gap: var(--space-xs);
}

input,
textarea,
select {
	display: block;
	font-family: var(--sans-serif);
	font-size: var(--step-0);
	color: var(--foreground-1);
	padding: var(--space-xs);
	background-color: var(--background-0);
	border: 1px solid var(--background-0);
	border-radius: var(--space-2xs);
	outline: 1px solid var(--background-2);
}

input.invalid,
textarea.invalid,
select.invalid {
	border: 1px solid var(--error-fg-0);
	outline: 1px solid var(--error-fg-0);
}

input:focus,
textarea:focus,
select:focus,
input.error:focus,
textarea.error:focus, 
select.error:focus {
	border: 1px solid var(--primary-0);
	outline: 1px solid var(--primary-0);
}

input:disabled,
textarea:disabled {
	color: var(--foreground-4);
	background-color: var(--background-2);
	border: 1px solid var(--background-2);
	outline: 1px solid var(--background-3);
}

input.error,
textarea.error,
select.error {
	border: 1px solid var(--error-0);
	outline: 1px solid var(--error-0);
}

select:disabled {
	color: var(--foreground-4);
	background-color: var(--background-1);
	border: 1px solid var(--background-1);
	outline: 1px solid var(--background-2);
}

button {
	all: unset;
}

button.button {
	box-sizing: border-box;
	display: block;
	width: 100%;
}

button.button,
.button {
	transition: background-color 200ms;
	cursor: pointer;
	color: var(--foreground-0);
	text-decoration: none;
	padding: var(--space-xs) var(--space-s);
	border-radius: var(--space-2xs);
}

.alerts {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--space-2xs);
}

.icon {
	transition: background-color 200ms;
	cursor: pointer;
	height: 24px;
	padding: var(--space-3xs);
	border-radius: var(--space-3xs);
}

.icon:hover {
	background-color: var(--error-bg-0);
}

.icon svg {
	width: 24px;
	height: 24px;
}

.alert {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: var(--monospace);
	width: 100%;
	color: var(--foreground-0);
	text-decoration: none;
	padding: var(--space-2xs) var(--space-2xs) var(--space-2xs) var(--space-s);
	border-radius: var(--space-2xs);
}

.alert.error {
	color: var(--error-fg-0);
	background-color: var(--error-bg-0);
	border: 1px solid var(--error-bg-1);
}

.alert.error.soft {
	background-color: var(--error-bg--1);
	border: 1px solid var(--error-bg-0);
}

.alert.success {
	color: var(--success-fg-0);
	background-color: var(--success-bg-0);
	border: 1px solid var(--success-bg-0);
}

.alert.success.soft {
	background-color: var(--success-bg--1);
	border: 1px solid var(--success-bg-0);
}

#half-width {
	box-sizing: border-box;
	max-width: var(--half-width);
	margin: auto;
}

.button:hover,
.button#active {
	background-color: var(--background-2);
}

.button.block {
	display: block;
	max-width: 100%;
	text-align: center;
}

.button.primary {
	color: var(--background-0);
	background-color: var(--primary-0);
}

.button.primary:hover {
	background-color: var(--primary--1);
}

.button.primary.disabled {
	color: var(--background-2);
	background-color: var(--primary-1);
}

.button.secondary {
	color: var(--background-0);
	background-color: var(--secondary-0);
}

.button.secondary:hover {
	background-color: var(--secondary-1);
}

.button.secondary.disabled {
	color: var(--background-3);
	background-color: var(--secondary-1);
}

.button.error.soft {
	color: var(--error-fg-0);
	background-color: var(--error-bg--1);
}

.button.error.soft:hover {
	background-color: var(--error-bg-0);
}

.button.error {
	color: var(--error-fg-0);
	background-color: var(--error-bg-0);
}

.button.error:hover {
	background-color: var(--error-bg-1);
}

.button.error.disabled {
	color: var(--error-fg-1);
	background-color: var(--error-bg-1);
}

.button.shade {
	background-color: var(--background-2);
}

.button.shade:hover {
	background-color: var(--background-3);
}

.category {
	transition: background-color 200ms, border 200ms;
	display: inline-block;
	color: var(--foreground-1);
	text-decoration: none;
	padding: var(--space-2xs) var(--space-s);
	background-color: var(--background-0);
	border: 1px solid var(--background-2);
	border-radius: var(--space-m);
}

.category.disabled {
	color: var(--foreground-4);
	background-color: var(--background-1);
}

.category:hover {
	background-color: var(--background-1);
}

.category.selected {
	background-color: var(--background-2);
	border: 1px solid var(--background-3);
}

.card {
	padding: var(--space-s);
	background-color: var(--background-1);
	border: 1px solid var(--background-2);
	border-radius: var(--space-2xs);
}

h1 {
	line-height: 1.2;
}

.big {
	max-width: 800px;
	font-size: var(--step-1);
	color: var(--foreground-2);
	line-height: 1.4;
}

.soft {
	color: var(--foreground-3);
}

span.pipe {
	color: var(--background-3);
}

span.dot {
	color: var(--background-4);
}

* {
	margin: 0;
	padding: 0;
}

html {
	font-family: var(--sans-serif);
	color: var(--foreground-0);
	background-color: var(--background-0);
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-size: var(--step-0);
	line-height: 1.5;
}

a {
	color: var(--primary-0);
}

img {
	max-width: 100%;
	height: auto;
	border-radius: var(--space-2xs);
}

p {
	hyphens: auto;
}

/* Specific */
header {
	padding: var(--space-s);
	background-color: var(--background-1);
	border-bottom: 1px solid var(--background-2);
}

header nav.flex {
	max-width: var(--max-width);
	justify-content: space-between;
	gap: var(--space-xs);
	margin: auto;
}

header nav.flex div.flex {
	gap: var(--space-3xs);
}

main {
	flex-grow: 1;
	margin: var(--space-2xl) 0;
	padding: 0 var(--space-s);
}

main h1 {
	font-size: var(--step-3);
	margin-bottom: var(--space-s);
}

.routes {
	max-width: var(--max-width);
	margin: auto;
}

.routes .button.primary {
	margin-bottom: var(--space-m);
	padding: var(--space-s);
}

.routes .item img {
	object-fit: cover;
	width: 100%;
	height: 18rem;
	margin-bottom: var(--space-3xs);
}

.routes .item h1 {
	font-size: var(--step-1);
	margin-bottom: 0;
}

.routes .item .details {
	margin-bottom: var(--space-2xs);
}

.routes .item .button {
	margin-top: var(--space-m);
}

.images .grid {
	gap: var(--space-s);
}

.images .grid > .button {
	margin-top: var(--space-s);
}

.images .grid img {
	object-fit: cover;
	width: 100%;
	height: 12rem;
}

.images .grid .main {
	grid-column: 1 / span 2;
	height: 18rem;
}
.grid .map{

	grid-column: 1;
	height: 18rem;
}
.coordinates .input {
	margin-bottom: var(--space-s);
}

.coordinates input {
	flex-grow: 2;
}

.coordinates a.button {
	margin-bottom: var(--space-s);
}

.position .three {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: var(--space-2xl);
}

.position .three .block {
	flex-grow: 2;
	margin-bottom: 0;
}

.position .three span {
	color: var(--foreground-1);
	font-family: var(--monospace);
	font-size: var(--step-1);
	font-weight: bold;
}

.position label {
	display: block;
	text-align: center;
	margin-bottom: var(--space-3xs);
}
.info .name input {
	flex-grow: 2;
}

.info .multiple label {
	display: block;
	margin-bottom: var(--space-3xs);
}

.info .details textarea {
	width: 100%;
	resize: none;
}

.info .links input {
	flex-grow: 2;
}

.column .button {
	width: 100%;
}

p.upper {
	color: var(--foreground-1);
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: var(--space-s);
}

.edit {
	max-width: 1080px;
	margin: auto;
}

.explanation h2 {
	font-size: var(--step-2);
	color: var(--foreground-1);
	margin-bottom: var(--space-2xs);
}

.explanation p {
	color: var(--foreground-2);
	margin-bottom: var(--space-xs);
}

.explanation p:last-child {
	margin-bottom: 0;
}

form section.card {
	margin-bottom: var(--space-s);
}

.multiple.links .flex.input {
	margin-bottom: var(--space-xs);
}

#categories {
	margin-bottom: var(--space-3xs);
}

.flex.categories {
	align-items: center;
	gap: var(--space-3xs);
}

#save {
	padding: var(--space-m);
}

.fixed {
	position: sticky;
	bottom: var(--space-l);
	box-sizing: border-box;
	max-width: var(--max-width);
	display: flex;
	flex-wrap: flex;
	padding: var(--space-s);
	background-color: var(--background-1);
	border: 1px solid var(--background-2);
	border-radius: var(--space-xs);
	box-shadow: 0 10px 20px 2px var(--background-4);
        z-index: 1001;
}

.input.status {
	display: flex;
	align-items: center;
	gap: var(--space-xs);
	padding-right: var(--space-m);
	border-right: 1px solid var(--background-2);
	margin-right: var(--space-m);
}

.input.status label {
	display: block;
	margin-bottom: var(--space-3xs);
}

p.status {
	color: var(--foreground-4);
	margin-bottom: var(--space-2xs);
}

p.status span {
	text-transform: uppercase;
	font-weight: bold;
	color: var(--foreground-1);
}

hr {
	margin: var(--space-m) 0;
	border: none;
	border-top: 1px solid var(--background-2);
}

hr.soft {
	border-top: 1px solid var(--background-1);
}

form.sign-up {
	max-width: var(--half-width);
	margin: auto;
}

.sign-up label {
	display: block;
	margin-bottom: var(--space-3xs);
}

.sign-up input {
	display: block;
	width: 100%;
}

label.invalid {
	color: var(--error-fg-0);
	margin-top: var(--space-2xs);
}

.input-label {
	margin-bottom: var(--space-m);
}

input#last {
	margin-bottom: 0;
}

footer {
	padding: var(--space-s) 0 var(--space-xl) 0;
	background-color: var(--background-1);
	border-top: 1px solid var(--background-2);
}

footer nav.flex {
	justify-content: center;
	gap: var(--space-3xs);
	margin-bottom: var(--space-2xl);
}

footer p {
	text-align: center;
}

.map-marker {

    color:red;
    background-color: white;
}

.button.block.thick{
    padding:var(--space-s);
}

/* Responsive */
@media(max-width: 50rem) {
	section.routes .grid,
	section.grid,
	section.card .grid {
		grid-template-columns: 1fr;
	}

	.images .grid .main {
		grid-column: 1;
		height: 16rem;
	}

	.images .grid img {
		height: 16rem;
}
