:root {
	/* Utopia */
	--step--2: clamp(0.56rem, calc(0.61rem + -0.04vw), 0.60rem);
	--step--1: clamp(0.75rem, calc(0.75rem + 0.00vw), 0.75rem);
	--step-0: clamp(0.94rem, calc(0.93rem + 0.06vw), 1.00rem);
	--step-1: clamp(1.17rem, calc(1.14rem + 0.16vw), 1.33rem);
	--step-2: clamp(1.47rem, calc(1.40rem + 0.31vw), 1.78rem);
	--step-3: clamp(1.83rem, calc(1.72rem + 0.54vw), 2.37rem);
	--step-4: clamp(2.29rem, calc(2.12rem + 0.87vw), 3.16rem);
	--step-5: clamp(2.86rem, calc(2.59rem + 1.35vw), 4.21rem);

	--space-3xs: clamp(0.25rem, calc(0.25rem + 0.00vw), 0.25rem);
	--space-2xs: clamp(0.50rem, calc(0.50rem + 0.00vw), 0.50rem);
	--space-xs: clamp(0.69rem, calc(0.68rem + 0.06vw), 0.75rem);
	--space-s: clamp(0.94rem, calc(0.93rem + 0.06vw), 1.00rem);
	--space-m: clamp(1.44rem, calc(1.43rem + 0.06vw), 1.50rem);
	--space-l: clamp(1.88rem, calc(1.85rem + 0.13vw), 2.00rem);
	--space-xl: clamp(2.81rem, calc(2.78rem + 0.19vw), 3.00rem);
	--space-2xl: clamp(3.75rem, calc(3.70rem + 0.25vw), 4.00rem);
	--space-3xl: clamp(5.63rem, calc(5.55rem + 0.38vw), 6.00rem);

	/* Custom */
	--sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif; 
	--max-width: 1080px;

	--primary--1: hsl(210, 90%, 40%);
	--primary-0: hsl(210, 90%, 50%);

	--secondary-0: hsl(210, 20%, 20%);
	--secondary-1: hsl(210, 20%, 40%);

	--foreground-0: hsl(210, 20%, 24%);
	--foreground-1: hsl(210, 20%, 30%);
	--foreground-2: hsl(210, 20%, 36%);
	--foreground-3: hsl(210, 20%, 42%);

	--background-0: hsl(210, 20%, 99%);
	--background-1: hsl(210, 20%, 93%);
	--background-2: hsl(210, 20%, 87%);
	--background-3: hsl(210, 20%, 81%);
	--background-4: hsl(210, 20%, 75%);
}

/* Utilities */
.flex {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-m);
}

.flex.input {
	align-items: center;
	gap: var(--space-xs);
}

.flex.column {
	gap: var(--space-s);
}

.grid {
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--space-m);
}

input,
textarea {
	display: block;
	font-family: var(--sans-serif);
	font-size: var(--step-0);
	color: var(--foreground-0);
	padding: var(--space-xs) var(--space-s);
	background-color: var(--background-0);
	border: 1px solid var(--background-0);
	border-radius: var(--space-2xs);
	outline: 1px solid var(--background-2);
}

input:focus,
textarea:focus {
	border: 1px solid var(--primary-0);
	outline: 1px solid var(--primary-0);
}

.button {
	transition: background-color 200ms;
	color: var(--foreground-0);
	text-decoration: none;
	padding: var(--space-xs) var(--space-s);
	border-radius: var(--space-2xs);
}

.button:hover,
.button#active {
	background-color: var(--background-2);
}

.button.block {
	display: block;
	max-width: 100%;
	text-align: center;
}

.button.primary {
	color: var(--background-0);
	background-color: var(--primary-0);
}

.button.primary:hover {
	background-color: var(--primary--1);
}

.button.secondary {
	color: var(--background-0);
	background-color: var(--secondary-0);
}

.button.secondary:hover {
	background-color: var(--secondary-1);
}

.button.shade {
	background-color: var(--background-2);
}

.button.shade:hover {
	background-color: var(--background-3);
}

.category {
	transition: background-color 200ms, border 200ms;
	display: inline-block;
	color: var(--foreground-3);
	text-decoration: none;
	padding: var(--space-2xs) var(--space-s);
	background-color: var(--background-0);
	border: 1px solid var(--background-2);
	border-radius: var(--space-m);
}

.category:hover {
	background-color: var(--background-1);
}

.category.selected {
	color: var(--background-0);
	background-color: var(--primary-0);
	border: 1px solid var(--primary-0);
}

.card {
	padding: var(--space-s);
	background-color: var(--background-1);
	border: 1px solid var(--background-2);
	border-radius: var(--space-2xs);
}

.soft {
	color: var(--foreground-3);
}

span.pipe {
	color: var(--background-3);
}

span.dot {
	color: var(--background-4);
}

* {
	margin: 0;
	padding: 0;
}

html {
	font-family: var(--sans-serif);
	color: var(--foreground-0);
	background-color: var(--background-0);
}

body {
	font-size: var(--step-0);
	line-height: 1.5;
}

a {
	color: var(--primary-0);
}

img {
	max-width: 100%;
	height: auto;
	border-radius: var(--space-3xs);
}

p {
	hyphens: auto;
}

/* Specific */
header {
	padding: var(--space-s);
	background-color: var(--background-1);
	border-bottom: 1px solid var(--background-2);
}

header nav.flex {
	max-width: var(--max-width);
	justify-content: space-between;
	gap: var(--space-xs);
	margin: auto;
}

header nav.flex div.flex {
	gap: var(--space-3xs);
}

main {
	max-width: var(--max-width);
	margin: var(--space-2xl) auto;
	padding: 0 var(--space-s);
}

main h1 {
	font-size: var(--step-3);
	margin-bottom: var(--space-s);
}

.routes .button.primary {
	margin-bottom: var(--space-m);
	padding: var(--space-s);
}

.routes .item img {
	object-fit: cover;
	width: 100%;
	height: 18rem;
	margin-bottom: var(--space-3xs);
}

.routes .item h1 {
	font-size: var(--step-1);
	margin-bottom: 0;
}

.routes .item .details {
	margin-bottom: var(--space-2xs);
}

.routes .item .button {
	margin-top: var(--space-m);
}

.images .grid {
	gap: var(--space-s);
	margin-bottom: var(--space-s);
}

.images .grid img {
	object-fit: cover;
	width: 100%;
	height: 12rem;
}

.images .grid .main {
	grid-column: 1 / span 2;
	height: 18rem;
}

.info .name input {
	flex-grow: 2;
}

.info .multiple label {
	display: block;
	margin-bottom: var(--space-3xs);
}

.info .details textarea {
	width: 100%;
	resize: none;
}

.info .links input {
	flex-grow: 2;
}

.column .button {
	width: 100%;
}

p.upper {
	color: var(--foreground-1);
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: var(--space-s);
}

.explanation h2 {
	font-size: var(--step-2);
	margin-bottom: var(--space-2xs);
}

.explanation p {
	margin-bottom: var(--space-xs);
}

.explanation p:last-child {
	margin-bottom: 0;
}

form section.card {
	margin-bottom: var(--space-s);
}

.multiple.links .flex.input {
	margin-bottom: var(--space-xs);
}

#save {
	padding: var(--space-s);
}

hr {
	margin: var(--space-m) 0;
	border: none;
	border-top: 1px solid var(--background-2);
}

footer {
	padding: var(--space-s) 0 var(--space-xl) 0;
	background-color: var(--background-1);
	border-top: 1px solid var(--background-2);
}

footer nav.flex {
	justify-content: center;
	gap: var(--space-3xs);
	margin-bottom: var(--space-2xl);
}

footer p {
	text-align: center;
}

/* Responsive */
