:root {
	/* Utopia */
	--step--2: clamp(0.68rem, calc(0.96rem + -0.42vw), 0.88rem);
	--step--1: clamp(0.85rem, calc(0.97rem + -0.18vw), 0.94rem);
	--step-0: clamp(1.00rem, calc(0.97rem + 0.13vw), 1.06rem);
	--step-1: clamp(1.07rem, calc(0.96rem + 0.55vw), 1.33rem);
	--step-2: clamp(1.14rem, calc(0.92rem + 1.10vw), 1.66rem);
	--step-3: clamp(1.22rem, calc(0.85rem + 1.81vw), 2.08rem);
	--step-4: clamp(1.30rem, calc(0.75rem + 2.73vw), 2.59rem);
	--step-5: clamp(1.38rem, calc(0.60rem + 3.91vw), 3.24rem);

	--space-3xs: clamp(0.25rem, calc(0.25rem + 0.00vw), 0.25rem);
	--space-2xs: clamp(0.50rem, calc(0.47rem + 0.13vw), 0.56rem);
	--space-xs: clamp(0.75rem, calc(0.72rem + 0.13vw), 0.81rem);
	--space-s: clamp(1.00rem, calc(0.97rem + 0.13vw), 1.06rem);
	--space-m: clamp(1.50rem, calc(1.45rem + 0.26vw), 1.63rem);
	--space-l: clamp(2.00rem, calc(1.95rem + 0.26vw), 2.13rem);
	--space-xl: clamp(3.00rem, calc(2.92rem + 0.39vw), 3.19rem);
	--space-2xl: clamp(4.00rem, calc(3.89rem + 0.53vw), 4.25rem);
	--space-3xl: clamp(6.00rem, calc(5.84rem + 0.79vw), 6.38rem);

	/* Custom */
	--max-width: 1080px;

	--primary--1: hsl(210, 90%, 40%);
	--primary-0: hsl(210, 90%, 50%);

	--secondary-0: hsl(210, 5%, 20%);
	--secondary-1: hsl(210, 5%, 40%);

	--foreground-0: hsl(210, 5%, 24%);
	--foreground-1: hsl(210, 5%, 30%);
	--foreground-2: hsl(210, 5%, 36%);
	--foreground-3: hsl(210, 5%, 42%);

	--background-0: hsl(210, 5%, 99%);
	--background-1: hsl(210, 5%, 93%);
	--background-2: hsl(210, 5%, 87%);
	--background-3: hsl(210, 5%, 81%);
	--background-4: hsl(210, 5%, 75%);
}

/* Utilities */
.flex {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-m);
}

.flex.input {
	align-items: center;
	gap: var(--space-xs);
}

.flex.column {
	gap: var(--space-s);
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--space-m);
}

input,
textarea {
	display: block;
	font-size: var(--step-0);
	color: var(--foreground-0);
	padding: var(--space-xs) var(--space-s);
	background-color: var(--background-0);
	border: 1px solid var(--background-2);
	border-radius: var(--space-2xs);
}

input:focus,
textarea:focus {
	border: 1px solid var(--primary-0);
	outline: 1px solid var(--primary-0);
}

.button {
	transition: background-color 200ms;
	color: var(--foreground-0);
	text-decoration: none;
	padding: var(--space-xs) var(--space-s);
	border-radius: var(--space-2xs);
}

.button:hover,
.button#active {
	background-color: var(--background-2);
}

.button.block {
	display: block;
	max-width: 100%;
	text-align: center;
}

.button.primary {
	color: var(--background-0);
	background-color: var(--primary-0);
}

.button.primary:hover {
	background-color: var(--primary--1);
}

.button.secondary {
	color: var(--background-0);
	background-color: var(--secondary-0);
}

.button.secondary:hover {
	background-color: var(--secondary-1);
}

.button.shade {
	background-color: var(--background-2);
}

.button.shade:hover {
	background-color: var(--background-3);
}

.category {
	transition: background-color 200ms, border 200ms;
	display: inline-block;
	color: var(--foreground-3);
	text-decoration: none;
	padding: var(--space-2xs) var(--space-s);
	background-color: var(--background-0);
	border: 1px solid var(--background-2);
	border-radius: var(--space-m);
}

.category:hover {
	background-color: var(--background-1);
}

.category.selected {
	color: var(--background-0);
	background-color: var(--primary-0);
	border: 1px solid var(--primary-0);
}

.card {
	padding: var(--space-s);
	background-color: var(--background-1);
	border: 1px solid var(--background-2);
	border-radius: var(--space-2xs);
}

.soft {
	color: var(--foreground-3);
}

span.pipe {
	color: var(--background-3);
}

span.dot {
	color: var(--background-4);
}

* {
	margin: 0;
	padding: 0;
}

html {
	font-family: sans-serif;
	color: var(--foreground-0);
	background-color: var(--background-0);
}

body {
	font-size: var(--step-0);
	line-height: 1.4;
}

a {
	color: var(--primary-0);
}

img {
	max-width: 100%;
	height: auto;
	border-radius: var(--space-3xs);
}

p {
	hyphens: auto;
}

/* Specific */
header {
	padding: var(--space-s);
	background-color: var(--background-1);
	border-bottom: 1px solid var(--background-2);
}

header nav.flex {
	max-width: var(--max-width);
	justify-content: space-between;
	gap: var(--space-xs);
	margin: auto;
}

header nav.flex div.flex {
	gap: var(--space-3xs);
}

main {
	max-width: var(--max-width);
	margin: var(--space-2xl) auto;
	padding: 0 var(--space-s);
}

main h1 {
	font-size: var(--step-3);
	margin-bottom: var(--space-s);
}

.routes .button.primary {
	margin-bottom: var(--space-m);
	padding: var(--space-s);
}

.routes .item img {
	object-fit: cover;
	width: 100%;
	height: 18rem;
	margin-bottom: var(--space-3xs);
}

.routes .item h1 {
	font-size: var(--step-1);
	margin-bottom: 0;
}

.routes .item .details {
	margin-bottom: var(--space-2xs);
}

.routes .item .button {
	margin-top: var(--space-m);
}

.images .grid {
	gap: var(--space-s);
	margin-bottom: var(--space-s);
}

.images .grid img {
	object-fit: cover;
	width: 100%;
	height: 12rem;
}

.images .grid .main {
	grid-column: 1 / span 2;
	height: 18rem;
}

.info .name input {
	flex-grow: 2;
}

.info .multiple label {
	display: block;
	margin-bottom: var(--space-3xs);
}

.info .details textarea {
	width: 100%;
	resize: none;
}

.info .links input {
	flex-grow: 2;
}

.column .button {
	width: 100%;
}

p.upper {
	color: var(--foreground-1);
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: var(--space-s);
}

.explanation {
	margin-bottom: var(--space-l);
}

.explanation h2 {
	font-size: var(--step-2);
	margin-bottom: var(--space-2xs);
}

.explanation p {
	margin-bottom: var(--space-xs);
}

#save {
	margin-top: var(--space-s);
	padding: var(--space-s);
}

hr {
	margin: var(--space-m) 0;
	border: none;
	border-top: 1px solid var(--background-2);
}

footer {
	padding: var(--space-s) 0 var(--space-xl) 0;
	background-color: var(--background-1);
	border-top: 1px solid var(--background-2);
}

footer nav.flex {
	justify-content: center;
	gap: var(--space-3xs);
	margin-bottom: var(--space-2xl);
}

footer p {
	text-align: center;
}

/* Responsive */
