---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Routes from "../components/Routes.svelte";
---

<Layout title="Krushr">
  <!-- header could also go in layout -->
  <header>
    <Nav />
  </header>
  <main>
    <section>
      <a class="primary" href="/">Create a new route</a>
    <Routes client:load/>
    </section>
  </main>
</Layout>
