---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Routes from "../components/Routes.svelte";
---

<Layout title="Krushr">
  <main>
    <Routes client:load />
  </main>
</Layout>
