---
import Layout from "../layouts/Layout.astro";
import UsersExplanation from "../components/UsersExplanation.svelte";
import Users from "../components/Users.svelte";
---

<Layout title="Users">
  <main>
    <div class="admin">
      <UsersExplanation />
      <Users client:load />
    </div>
  </main>
</Layout>
