<footer>
  <nav class="flex">
    <a class="button" href="/visitor/">Routes</a>
  </nav>
  <p class="soft">
    2023 &copy; Krushr <span class="pipe">|</span>
    <a href="#">Check out the source code</a>
  </p>
</footer>
