<footer>
  <nav class="flex">
    <a class="button" href="/">Routes</a>
  </nav>
  <p class="soft">
    &copy; 2023 Krushr <span class="pipe">|</span>
    <a href="https://github.com/stanhoenson/krushr">Check out the source code</a>
  </p>
</footer>
