<nav>
  <div class="left">
    <a class="active" href="/">Krushr</a>
    <a href="/routes">Routes</a>
    <a href="/users">Users</a>
  </div>
  <div class="right">
    <a href="/sign-up">Sign up</a>
    <a class="primary" href="/sign-in">Sign in</a>
  </div>
</nav>
