:root {
	/* Utopia */
	--step--2: clamp(0.56rem, calc(0.61rem + -0.04vw), 0.60rem);
	--step--1: clamp(0.75rem, calc(0.75rem + 0.00vw), 0.75rem);
	--step-0: clamp(0.94rem, calc(0.93rem + 0.06vw), 1.00rem);
	--step-1: clamp(1.17rem, calc(1.14rem + 0.16vw), 1.33rem);
	--step-2: clamp(1.47rem, calc(1.40rem + 0.31vw), 1.78rem);
	--step-3: clamp(1.83rem, calc(1.72rem + 0.54vw), 2.37rem);
	--step-4: clamp(2.29rem, calc(2.12rem + 0.87vw), 3.16rem);
	--step-5: clamp(2.86rem, calc(2.59rem + 1.35vw), 4.21rem);

	--space-3xs: clamp(0.25rem, calc(0.25rem + 0.00vw), 0.25rem);
	--space-2xs: clamp(0.50rem, calc(0.50rem + 0.00vw), 0.50rem);
	--space-xs: clamp(0.69rem, calc(0.68rem + 0.06vw), 0.75rem);
	--space-s: clamp(0.94rem, calc(0.93rem + 0.06vw), 1.00rem);
	--space-m: clamp(1.44rem, calc(1.43rem + 0.06vw), 1.50rem);
	--space-l: clamp(1.88rem, calc(1.85rem + 0.13vw), 2.00rem);
	--space-xl: clamp(2.81rem, calc(2.78rem + 0.19vw), 3.00rem);
	--space-2xl: clamp(3.75rem, calc(3.70rem + 0.25vw), 4.00rem);
	--space-3xl: clamp(5.63rem, calc(5.55rem + 0.38vw), 6.00rem);

	/* Primary */
	--blue-0: hsl(205, 100%, 21%);
	--blue-1: hsl(205, 87%, 29%);
	--blue-2: hsl(205, 82%, 33%);
	--blue-3: hsl(205, 76%, 39%);
	--blue-4: hsl(205, 67%, 45%);
	--blue-5: hsl(205, 65%, 55%);
	--blue-6: hsl(205, 74%, 65%);
	--blue-7: hsl(205, 84%, 74%);
	--blue-8: hsl(205, 97%, 85%);
	--blue-9: hsl(205, 79%, 92%);

	--yellow-0: hsl(15, 86%, 30%);
	--yellow-1: hsl(22, 82%, 39%);
	--yellow-2: hsl(29, 80%, 44%);
	--yellow-3: hsl(36, 77%, 49%);
	--yellow-4: hsl(42, 87%, 55%);
	--yellow-5: hsl(44, 92%, 63%);
	--yellow-6: hsl(48, 94%, 68%);
	--yellow-7: hsl(48, 95%, 76%);
	--yellow-8: hsl(48, 100%, 88%);
	--yellow-9: hsl(49, 100%, 96%);

	/* Neutrals */
	--blue-grey-0: hsl(209, 61%, 16%);
	--blue-grey-1: hsl(211, 39%, 23%);
	--blue-grey-2: hsl(209, 34%, 30%);
	--blue-grey-3: hsl(209, 28%, 39%);
	--blue-grey-4: hsl(210, 22%, 49%);
	--blue-grey-5: hsl(209, 23%, 60%);
	--blue-grey-6: hsl(211, 27%, 70%);
	--blue-grey-7: hsl(210, 31%, 80%);
	--blue-grey-8: hsl(212, 33%, 89%);
	--blue-grey-9: hsl(210, 36%, 94%);

	/* Supporting */
	--cyan-0: hsl(184, 91%, 17%);
	--cyan-1: hsl(185, 84%, 25%);
	--cyan-2: hsl(185, 81%, 29%);
	--cyan-3: hsl(184, 77%, 34%);
	--cyan-4: hsl(185, 62%, 45%);
	--cyan-5: hsl(185, 57%, 50%);
	--cyan-6: hsl(184, 65%, 59%);
	--cyan-7: hsl(184, 80%, 74%);
	--cyan-8: hsl(185, 94%, 87%);
	--cyan-9: hsl(186, 100%, 94%);

	--red-0: hsl(360, 92%, 20%);
	--red-1: hsl(360, 85%, 25%);
	--red-2: hsl(360, 79%, 32%);
	--red-3: hsl(360, 72%, 38%);
	--red-4: hsl(360, 67%, 44%);
	--red-5: hsl(360, 64%, 55%);
	--red-6: hsl(360, 71%, 66%);
	--red-7: hsl(360, 77%, 78%);
	--red-8: hsl(360, 82%, 89%);
	--red-9: hsl(360, 100%, 97%);

	--shadow-0: 0 1px 3px rgba(0,0,0, .12), 0 1px 2px rgba(0,0,0, .24);
	--shadow-1: 0 3px 6px rgba(0,0,0, .15), 0 2px 4px rgba(0,0,0, .12);
	--shadow-2: 0 10px 20px rgba(0,0,0, .15), 0 3px 6px rgba(0,0,0, .10);
	--shadow-3: 0 15px 25px rgba(0,0,0, .15), 0 5px 10px rgba(0,0,0, .05);
	--shadow-4: 0 20px 40px rgba(0,0,0, .2);

	/* Custom */
	--sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif; 
	--monospace: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
	--max-width: 1080px;
	--half-width: calc(var(--max-width) / 2);
}

/* Utilities */
.mb-s{
    margin-bottom: var(--space-s);
}

.flex {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-m);
	align-items: center;
}

.flex.input {
	align-items: center;
	gap: var(--space-xs);
}

.flex.column {
	gap: var(--space-xs);
}

.leaflet-marker-icon.map-marker {
	margin-left: -.75rem !important;
	margin-top: -.75rem !important;
	width: auto !important;
	height: auto !important;
	color: white;
	font-weight: bold;
	padding: .3rem .6rem;
	background-color: var(--blue-3);
	border-radius: 1rem;
}

.grid {
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--space-m);
}

.grid.buttons {
	margin-top: var(--space-xs);
	gap: var(--space-xs);
}

input,
textarea,
select {
	display: block;
	font-family: var(--sans-serif);
	font-size: var(--step-0);
	color: var(--blue-grey-1);
	padding: var(--space-xs);
	background-color: var(--blue-grey-9);
	border: 1px solid var(--blue-grey-9);
	border-radius: var(--space-2xs);
	outline: 1px solid var(--blue-grey-8);
}

input.invalid,
textarea.invalid,
select.invalid {
	border: 1px solid var(--red-5);
	outline: 1px solid var(--red-5);
}

input:focus,
textarea:focus,
select:focus,
input.error:focus,
textarea.error:focus, 
select.error:focus {
	border: 1px solid var(--blue-3);
	outline: 1px solid var(--blue-3);
}

input:disabled,
textarea:disabled {
	color: var(--blue-grey-5);
	background-color: var(--blue-grey-9);
	border: 1px solid var(--blue-grey-9);
	outline: 1px solid var(--blue-grey-9);
}

input.error,
textarea.error,
select.error {
	border: 1px solid var(--red-2);
	outline: 1px solid var(--red-2);
}

input[type=checkbox] {
	outline: none;
}

select:disabled {
	color: var(--blue-grey-4);
	background-color: var(--blue-grey-7);
	border: 1px solid var(--blue-grey-7);
	outline: 1px solid var(--blue-grey-6);
}

button {
	all: unset;
}

button.button {
	box-sizing: border-box;
	display: block;
	width: 100%;
}

nav button.button {
	width: auto;
}

button.button,
.button {
	transition: background-color 200ms;
	cursor: pointer;
	color: var(--blue-grey-0);
	text-decoration: none;
	padding: var(--space-xs) var(--space-s);
	border-radius: var(--space-2xs);
}

.alerts {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--space-2xs);
}

.icon {
	transition: background-color 200ms;
	cursor: pointer;
	height: 24px;
	padding: var(--space-3xs);
	border-radius: var(--space-3xs);
}

.images button {
	margin-top: var(--space-s);
}

.icon:hover {
	background-color: var(--red-8);
}

.icon svg {
	width: 24px;
	height: 24px;
}

.alert {
  margin-top:var(--space-xs);
  box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: var(--monospace);
	width: 100%;
	color: var(--blue-grey-0);
	text-decoration: none;
	padding: var(--space-2xs) var(--space-2xs) var(--space-2xs) var(--space-s);
	border-radius: var(--space-2xs);
}

.alert.error {
	color: var(--red-5);
	background-color: var(--red-9);
	border: 1px solid var(--red-8);
}

.alert.error.soft {
	background-color: var(--red-8);
	border: 1px solid var(--red-9);
}

.alert.success {
	color: var(--cyan-2);
	background-color: var(--cyan-9);
	border: 1px solid var(--cyan-9);
}

.alert.success > .icon:hover {
	background-color: var(--cyan-8);
}

.alert.success.soft {
	background-color: var(--cyan-9);
	border: 1px solid var(--cyan-7);
}

#half-width {
	box-sizing: border-box;
	max-width: var(--half-width);
	margin: auto;
}

.half-width {
	box-sizing: border-box;
	max-width: var(--half-width);
	margin: auto;
}

.button:hover,
.button#active {
	background-color: var(--blue-grey-9);
}

.button.block {
	display: block;
	max-width: 100%;
	text-align: center;
}

.button.primary {
	color: white;
	background-color: var(--blue-3);
}

.button.primary:hover {
	background-color: var(--blue-2);
}


.button.primary.disabled,
.button.primary:disabled {
	color: var(--background-2);
	background-color: var(--primary-1);
}

.button.secondary {
	color: white;
	background-color: var(--blue-grey-0);
}

.button.secondary:hover {
	background-color: var(--blue-grey-2);
}

.button.secondary.disabled,.button.secondary:disabled {
	color: var(--blue-grey-7);
	background-color: var(--blue-grey-2);
}

.button.error.soft {
	color: var(--red-1);
	background-color: var(--red-8);
}

.button.error.soft:hover {
	background-color: var(--red-7);
}

.button.error {
	color: var(--red-3);
	background-color: var(--red-9);
}

.button.error:hover {
	background-color: var(--red-8);
}

.button.error.disabled,
.button.error:disabled {
	color: var(--red-6);
	background-color: var(--red-8);
}

.button.shade {
	background-color: var(--blue-grey-9);
}

.button.shade:hover {
	background-color: var(--blue-grey-8);
}

.category {
	transition: background-color 200ms, border 200ms;
	display: inline-block;
	color: var(--blue-grey-1);
	text-decoration: none;
	padding: var(--space-2xs) var(--space-s);
	background-color: white;
	border: 1px solid var(--blue-grey-8);
	border-radius: var(--space-m);
}

button.category{
    cursor: pointer;
}

.category.disabled,.category:disabled {
	color: var(--blue-grey-4);
	background-color: var(--blue-grey-7);
}

.category:hover {
	background-color: var(--blue-grey-9);
}

.category.selected {
	background-color: var(--blue-grey-8);
	border: 1px solid var(--blue-grey-8);
}

.card {
	padding: var(--space-s);
	background-color: white;
	border-radius: var(--space-2xs);
}

h1 {
	line-height: 1.2;
}

.big {
	max-width: 800px;
	font-size: var(--step-1);
	color: var(--blue-grey-2);
	line-height: 1.6;
}

.soft {
	color: var(--blue-grey-3);
}

span.pipe {
	color: var(--blue-grey-7);
}

span.dot {
	color: var(--blue-grey-6);
}

* {
	margin: 0;
	padding: 0;
}

html {
	font-family: var(--sans-serif);
	color: var(--blue-grey-0);
	background-color: var(--blue-grey-9);
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-size: var(--step-0);
	line-height: 1.5;
}

a {
	color: var(--blue-3);
}

img {
	max-width: 100%;
	height: auto;
	border-radius: var(--space-2xs);
}

p {
	hyphens: auto;
}

/* Specific */
header {
	padding: var(--space-s);
	background-color: white;
}

header nav.flex {
	max-width: var(--max-width);
	justify-content: space-between;
	gap: var(--space-xs);
	margin: auto;
}

header nav.flex div.flex {
	gap: var(--space-2xs);
}

main {
	flex-grow: 1;
	margin: var(--space-2xl) 0;
	padding: 0 var(--space-s);
}

main h1 {
	font-size: var(--step-3);
	margin-bottom: var(--space-s);
}

.routes {
	max-width: var(--max-width);
	margin: auto;
}

.routes .button.primary {
	margin-bottom: var(--space-m);
	padding: var(--space-s);
}

.routes .item img {
	object-fit: cover;
	width: 100%;
	height: 18rem;
	margin-bottom: var(--space-3xs);
}

.routes .item h1 {
	font-size: var(--step-1);
	margin-bottom: 0;
}

.routes .item .details {
	margin-bottom: var(--space-2xs);
}

.routes .item .button {
	margin-top: var(--space-m);
}

.images .grid {
	gap: var(--space-s);
}

.images .grid > .button {
	margin-top: var(--space-s);
}

.images .grid img {
	object-fit: cover;
	width: 100%;
	height: 12rem;
}

.images .grid .main {
	grid-column: 1 / span 2;
	height: 18rem;
}

.images .grid .main img {
	height: 18rem;
}

.map {
	border-radius: var(--space-2xs);
}

.image-placeholder {
	border-radius: var(--space-2xs);
}

.grid .map {
	grid-column: 1;
	height: 18rem;
}

.coordinates .input {
	margin-bottom: var(--space-s);
}

.coordinates input {
	flex-grow: 2;
}

.coordinates a.button {
	margin-bottom: var(--space-s);
}

.position .three {
	display: flex;
	align-items: center;
	/* flex-wrap: wrap; */
	gap: var(--space-2xl);
}

.position .three .block {
	flex-grow: 2;
	margin-bottom: 0;
}

.position .three span {
	color: var(--blue-grey-1);
	font-family: var(--monospace);
	font-size: var(--step-1);
	font-weight: bold;
}

.position label {
	display: block;
	text-align: center;
	margin-bottom: var(--space-3xs);
}
.info .name input {
	flex-grow: 2;
}

.info .multiple label {
	display: block;
	margin-bottom: var(--space-3xs);
}

.info .details textarea {
	width: 100%;
	resize: none;
}

.info .links input {
	flex-grow: 2;
}

.column .button {
	width: 100%;
}

p.upper {
	color: var(--blue-grey-0);
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: var(--space-s);
}

.edit,
.admin {
	max-width: 1080px;
	margin: auto;
}

.entity {
	color: var(--blue-grey-4);
	margin-bottom: var(--space-2xs);
}

.entity h2 {
	font-size: var(--step-0);
	color: var(--blue-grey-0);
	text-transform: uppercase;
}

.explanation h2 {
	font-size: var(--step-2);
	color: var(--blue-grey-1);
	margin-bottom: var(--space-2xs);
}

.explanation p {
	color: var(--blue-grey-2);
	margin-bottom: var(--space-xs);
}

.explanation p:last-child {
	margin-bottom: 0;
}

form section.card {
	margin-bottom: var(--space-s);
}

.multiple.links .flex.input {
	margin-bottom: var(--space-xs);
}

.multiple.links .flex.input:last-child {
	margin-bottom: 0;
}

#url {
	margin-bottom: 0;
}

.card.input-with-delete {
	padding: var(--space-xs);
	padding-top: var(--space-xl);
}

#categories {
	margin-bottom: var(--space-3xs);
}

.flex.categories {
	align-items: center;
	gap: var(--space-3xs);
}

#save {
	padding: var(--space-m);
}

.fixed {
	position: sticky;
	bottom: var(--space-l);
	box-sizing: border-box;
	max-width: var(--max-width);
	padding: var(--space-s);
	background-color: white;
	border-radius: var(--space-xs);
	box-shadow: var(--shadow-4);
  z-index: 1001;
}

.fixed .controls{
	display: flex;
	flex-wrap: flex;
}
.fixed .alerts{
    max-width: 100%;
    width: 100%;
}

.input.status {
	display: flex;
	align-items: center;
	gap: var(--space-xs);
	padding-right: var(--space-m);
	border-right: 1px solid var(--blue-grey-9);
	margin-right: var(--space-m);
}

.input.status label {
	display: block;
	margin-bottom: var(--space-3xs);
}

p.status {
	color: var(--blue-grey-4);
	margin-bottom: var(--space-2xs);
}

p.status span {
	text-transform: uppercase;
	font-weight: bold;
	color: var(--blue-grey-1);
}

hr {
	margin: var(--space-m) 0;
	border: none;
	border-top: 1px solid var(--blue-grey-9);
}

hr.soft {
	border-top: 1px solid var(--blue-grey-8);
}

form.sign-up {
	max-width: var(--half-width);
	margin: auto;
}

.grid form.sign-up {
	margin: 0;
}

.card .user:last-child {
	margin-bottom: 0;
}

.user {
	display: flex;
	gap: var(--space-2xs);
	margin-bottom: var(--space-xs);
	height: auto;
}

.user input {
	flex-grow: 2;
}

.user button.button {
	display: inline;
	width: auto;
}

.sign-up label {
	display: block;
	margin-bottom: var(--space-3xs);
}

.sign-up input {
	display: block;
	width: 100%;
}

label.invalid {
	color: var(--red-5);
	margin-top: var(--space-2xs);
}

.input-label {
	margin-bottom: var(--space-m);
}

.links .card {
	background-color: var(--blue-grey-9);
	border: 1px solid var(--blue-grey-8);
}

.links .card input {
	background-color: white;
	border: 1px solid white;
}

.links .card input:focus {
	border: 1px solid var(--blue-3);
}

.links .card .icon.delete-icon {
	background-color: var(--blue-grey-8);
}

.links .card .icon.delete-icon:hover {
	background-color: var(--red-8);
}

.table {
	display: flex;
	gap: var(--space-m);
}

.table .column {
}

.column .field {
	font-weight: bold;
	margin-bottom: var(--space-3xs);
}

.column > * {
	margin-bottom: var(--space-2xs);
}

.column input[type="text"] {
	min-width: 260px;
}

.column input[type="number"] {
	max-width: 80px;
	min-width: 40px;
}

.column > *:last-child {
	margin-bottom: 0;
}

input#last {
	margin-bottom: 0;
}

footer {
	padding: var(--space-s) 0 var(--space-xl) 0;
	background-color: white;
}

footer nav a.button {
	color: var(--blue-grey-3);
}

footer nav.flex {
	justify-content: center;
	gap: var(--space-3xs);
	margin-bottom: var(--space-2xl);
}

label.support {
	display: block;
	margin-bottom: var(--space-3xs);
}

footer p {
	text-align: center;
}

.delete-icon {
    cursor: pointer;
    position: absolute;
		background-color: var(--blue-grey-8);
    top: calc(.1rem + var(--space-3xs));
    right: calc(.1rem + var(--space-3xs));
}

.delete-icon svg {
    color: var(--red-3);
}

.map-marker {
    color: var(--red-2);
    background-color: white;
}

.button.block.thick{
    padding:var(--space-s);
}

.image-placeholder svg{
    width: 100%;
    height: 100%;
}

.image-placeholder {
    background-color: #d0d0d0;
}

.image-with-delete {
	display: inherit;
	position: relative;
}

.image-with-delete .icon.delete-icon:hover {
	background-color: var(--red-8);
}

.input-with-delete {
    position: relative;
    width: 100%;
}

.input-with-delete input {
    box-sizing: border-box;
}

.input-with-delete textarea{
    box-sizing: border-box;
}

.filter {
    margin-bottom: var(--space-3xs);
    display: block;
}
.filter-input {
    margin-bottom: var(--space-m);
}

.filter-container{
    display:flex;
    align-items: center;
    gap: var(--space-xs);
}

.filter-container input {
	background-color: white;
	border: 1px solid white;
	outline: 1px solid var(--blue-grey-8);
}

.filter-container input:focus {
	border: 1px solid var(--blue-3);
	outline: 1px solid var(--blue-3);
}

/* Responsive */
@media(max-width: 50rem) {
	section.routes .grid,
	.admin .grid,
	section.grid,
	section.card .grid {
		grid-template-columns: 1fr;
	}

	.images .grid .main {
		grid-column: 1;
		height: 16rem;
	}

	.images .grid .main img {
		height: 16rem;
	}

	.images .grid img {
		height: 16rem;
}
