---
import Layout from "../layouts/Layout.astro";
import SignUp from "../components/SignUp.svelte";
---

<Layout title="Krushr">
  <main>
    <section><SignUp client:load /></section>
  </main>
</Layout>
